{
  "pk3_download_url_prefix": "http://ws.q3df.org/maps/downloads/",
  "pk3_download_source_name": "Worldspawn",
  "pk3_download_source_homepage_url": "http://ws.q3df.org",
  "q3df_server_url": "http://q3df.org/serverlist#server_80",

  "q3a_path": "/home/bartender/.q3a/",
  "mod": "defrag",
  "pidfile_path": "/home/bartender/quake.pid",
  "rcon_password_file_path": "/home/bartender/.rcon_password",
  "map_source_url_formats": {
    "bsp": "http://ws.q3df.org/getpk3bymapname.php/%s",
    "pk3": "http://ws.q3df.org/maps/downloads/%s.pk3"
  },

  "background_image_url": "/static/whiskey_sour.jpg",

  "title": "Whiskey Sour",
  "heading": "Whiskey <span class=\"green\">Sour</span> <span class=\"red\">|</span> Mixed",

  "quake_executable_regex": "/^ioq3ded/",
  "quake_port": 27960,
  "quake_idle_cfg": "cfgs/idle.cfg"
}
